.App {
  text-align: center;
}

.award-item {
  color: #9932CC;
}

body {
  background-image: url(https://i.imgur.com/gaJXPxn.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

li {
  /*把list的點去掉*/
  list-style: none;
}

.card-body {
  overflow: auto;
}

.market-box {
  background-image: linear-gradient(to bottom, #4d4d4d, #ffffff);
  width: '150px';
  text-align: center;
}

.market-box>.card-body>p {
  margin: 2px;
  font-size: 14px;
}

.box-count-text {
  color: white;
  font-size: 15px;
  /*-webkit-text-stroke: 1.5px black;*/
  text-shadow:-1px 0 black,0 1px black,1px 0 black,0 -1px black;
}

.background {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
}

.chat-body {
  background-color: rgba(255, 244, 173, 0.1);
}

/* 網頁捲軸【寬度】 */
.chat-body::-webkit-scrollbar {
  width: 10px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

/* 網頁捲軸【背景】顏色 */
.chat-body::-webkit-scrollbar-track {
  background-color: #EDF2F4;
}

/* 網頁捲軸【把手】顏色 */
.chat-body::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: rgba(37, 37, 37, 0.5);
  border-left: 1px solid #EDF2F4;
  border-right: 1px solid #EDF2F4;
}

/* 網頁捲軸【滑過時】把手的顏色 */
.chat-body::-webkit-scrollbar-thumb:hover {
  background: #fff;
}