.card-body {
  overflow: auto;
}

.market-box {
  background-image: linear-gradient(to bottom, #4d4d4d, #ffffff);
  width: '150px';
  text-align: center;
}

.icon-img {
  position: relative;
  display: inline-block;
}

.box-count-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 15px;
  /*-webkit-text-stroke: 1.5px black;*/
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}